# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/web" # Location of package manifests
    open-pull-requests-limit: 20
    schedule:
      interval: "daily"
  - package-ecosystem: "pip" # See documentation for possible values
    directory: /planner
    schedule:
      interval: "daily"
  - package-ecosystem: "docker" # See documentation for possible values
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker-compose" # See documentation for possible values
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/.github/workflows" # Location of workflow files
    schedule:
      interval: "daily"