.nav-item .nav-link {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.navbar-nav .navbar-div {
  font-size: 120%;
  padding: 0.2rem;
}

@media (min-width: 768px) {
  .navbar-nav .navbar-div {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .navbar-nav .navbar-div {
    font-size: 100%;
  }
}

@media (min-width: 1200px) {
  .navbar-nav .navbar-div {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 50px;
    padding-left: 15px;
  }
}

.nav-link.active .navbar-div {
  background: #f9da68;
  border-style: none;
}

.header-controlbar .btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.row-plan-job {
  padding-top: 11px;
  padding-bottom: 11px;
  background: #f4f1b6;
  padding-left: 12px;
  padding-right: 12px;
}

.row-plan-no-assignment {
  background: rgb(255, 207, 204);
}

.smj-table-header {
  background: rgb(247, 225, 34);
}

.smj-table {
  box-shadow: 1px 1px 6px;
  padding-bottom: 20px;
  background: rgb(247, 247, 247);
  border-radius: 11px;
  margin-bottom: 10px;
  overflow: hidden;
}

.smj-table > .row {
  padding-right: 0px;
  padding-top: 9px;
  padding-left: 0px;
  padding-bottom: 9px;
  margin-left: 0px;
  margin-right: 0px;
}

.smj-search-stack {
  margin: 18px;
  padding-left: 22px;
  padding-right: 22px;
  background: #f5f5f5;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.smj-search-stack input {
  padding: 6px;
}

.btn-with-icon > i.far,
.btn-with-icon > i.fas {
  margin-right: 0.6rem;
}

img.smj-nav-logo {
  width: 60px;
  height: auto;
}

.navbar-div span {
  margin-left: 9px;
}

#btn-nav-logout {
  border-style: none;
  box-shadow: 0px 0px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.smj-gray {
  background-color: #f5f5f5 !important;
}

.smj-table-body {
  background: rgb(247, 247, 247);
}

.smj-shadow {
  box-shadow: 1px 1px 6px;
}

.smj-expandable-row,
.smj-category-row {
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.smj-expandable-row {
  background-color: #f4f1b6;
}

.smj-expandable-row > td:first-child > i,
.smj-category-row > td:first-child > i {
  margin-right: 10px;
}

.smj-details-row > td:first-child {
  padding: 0px;
  border: 0px;
}

.smj-details-row {
  white-space: normal;
}

.smj-row-collapsible {
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.smj-background-error {
  background-color: #ffd9d9;
}

.smj-dropdown-menu {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  max-height: 15rem;
}

.outline-none {
  outline: none;
}

.smj-filter-input {
  min-width: 200px;
}

.smj-filter-input option:first-of-type {
  color: #888;
}

.smj-default-option {
  color: #888;
}

.smj-filter-input option {
  color: #000;
}

.sort-inactive {
  color: rgb(151 151 151 / 24%);
}

.cursor-pointer {
  cursor: pointer;
}

.error-code-border {
  border-right: 1px solid rgb(114, 114, 114);
}

.smj-action-complete {
  color: #007400;
}

.smj-action-complete:hover {
  color: #00b300;
}

.smj-action-completed {
  font-size: 110%;
  width: 1rem;
  padding-left: 0.1rem;
  color: #75000a;
}

.smj-action-completed:hover {
  color: #af000f;
}

.smj-action-delete {
  color: #9c0000;
}

.smj-action-delete:hover {
  color: #e40000;
}

.smj-action-pinned {
  color: #d76e13;
}

.smj-action-pin:hover {
  color: #d76e13;
}

.smj-action-pinned:hover {
  color: inherit;
}

.smj-action-edit {
  color: #000000;
}

.smj-action-edit:hover {
  color: #2651c9;
}

.smj-action-hide {
  color: #494949;
}

.smj-action-hide:hover {
  color: #adadad;
}

.smj-action-hidden {
  color: #adadad;
}

.smj-action-hidden:hover {
  color: #494949;
}

.spinning {
  animation: 1s linear infinite spinner-border;
}

.smj-pinned-job-row {
  background-color: #fadaaa;
}

.btn-check:checked + .allergy-checkbox-label {
  box-shadow: inset 3px 3px 1px 0px #d7c59d;
  background-color: #ffe9b8 !important;
}

.btn-day-select {
  --bs-btn-color: #000000;
  --bs-btn-active-bg: #ffe9b8;
}

.btn-check:checked + .btn-day-select {
  box-shadow: inset 2px 3px 1px 0px #d7c59d;
  background-color: #ffe9b8 !important;
}

.checkbox-white:not(:checked) {
  background-color: white;
}

.text-small {
  font-size: 0.8rem;
}

.bg-category-done {
  background-color: #d4edda;
}

.smj-completed-job-row td:first-of-type::before {
  background-color: #d4edda;
  content: "";
  height: 2.5rem;
  width: 0.5rem;
  display: block;
  margin-right: 0.5rem;
}

.smj-completed-job-row td:first-of-type {
  padding: 0rem;
  display: flex;
  align-items: center;
}

.bg-category-hidden {
  background-color: #dddddd;
}

.smj-hidden-job-row td:first-of-type::before {
  background-color: #dddddd;
  content: "";
  height: 2.5rem;
  width: 0.5rem;
  display: block;
  margin-right: 0.5rem;
}

.smj-hidden-job-row td:first-of-type {
  padding: 0rem;
  display: flex;
  align-items: center;
}

.text-prewrap {
  white-space: pre-wrap;
}

.smj-pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.smj-page-item:first-child .smj-page-link {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.smj-page-link.active,
.active > .smj-page-link {
  background-color: #f7e122;
  border-color: #e6d21f;
  color: #000000;
}

.smj-page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000000;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}

.smj-page-item:not(:first-child) .smj-page-link {
  margin-left: -1px;
}

.smj-page-item:last-child .smj-page-link {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.smj-page-link:hover {
  color: #000000;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.smj-page-link.disabled,
.disabled > .smj-page-link {
  color: #888;
  pointer-events: none;
}
