.print-a4 {
  width: 210mm;
  height: 297mm;
  padding: 0;
  border: 0;
  font-size: 11pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
  margin: 0;
}

.print-a4-landscape {
  width: 297mm;
  height: 210mm;
  padding: 0;
  border: 0;
  font-size: 11pt;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, serif;
  line-height: 1.5;
  color: #000;
  background: #fff;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

body:has(.print-a4),
body:has(.print-a4-landscape) {
  background-color: initial;
}

h1 {
  margin: 0;
  display: inline-block;
}

h2 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.jobinfo-container {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-top: 4px solid #acacac;
  page-break-after: auto;
  page-break-inside: avoid;
  page-break-before: auto;
}

.smj-logo {
  height: 2.5rem;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: auto;
}

.me-1 {
  margin-right: 0.5rem;
}

.me-2 {
  margin-right: 1rem;
}

.me-3 {
  margin-right: 1.5rem;
}

.me-4 {
  margin-right: 2rem;
}

.ms-1 {
  margin-left: 0.5rem;
}

.ms-2 {
  margin-left: 1rem;
}

.ms-3 {
  margin-left: 1.5rem;
}

.ms-4 {
  margin-left: 2rem;
}

.job-number-col {
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  line-height: 3rem;
  margin-right: 0.5rem;
}

.job-data-col {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
}

.w-18 {
  width: 18%;
}

.w-15 {
  width: 15%;
}

.w-12 {
  width: 12%;
}

.w-7 {
  width: 7%;
}

.ride {
  border: 3px solid #c0c0c0;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.d-flex {
  display: flex;
}

.driver-name {
  margin: 0rem 0.5rem;
  border-bottom: 1px solid #c0c0c0;
}

.workers-thead {
  text-align: left;
}

.table-print {
  width: 100%;
  table-layout: fixed;
}

.table-print,
.table-print td,
.table-print th {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
}

.table-print td {
  padding: 0.2rem;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-break-word {
  word-break: break-word;
}
